<div class="one-center-line">
<a [routerLink]="['/dashboard']" class="btn btn-sm btn-primary no-break center-line"> < Volver a dashboard</a>
<h3 *ngIf="camera" class="no-break center-line">Detalle: {{camera.name}}</h3>
</div>
<hr/>
<div *ngIf="!camera">
	<p>Cargando camara...</p>
</div>
<div class="row marco" *ngIf="camera">
	<div  class="col-lg-4">
		<!-- <img src="http://158.49.245.71:27654/mjpg/video.mjpg" width=320  height=240> -->

		<img [src]="getFlujo(camera.dirIp, camera.flujo_dashboard)" width=100% *ngIf="flujoAccesible(camera.dirIp)">

		<div class="imagen_relleno" *ngIf="!flujoAccesible(camera.dirIp)">
			<img src="{{image_default}}" class="producto_imagen"/>
			<!--<img src="'../../images/angular_image.png" class="producto_imagen"/> NO FUNCIONARÁ-->
		</div>
		<br>
		<br>
		<div *ngIf="running">
			<button type="button" (click)="stopStateMachine()" class="btn btn-md btn-danger">Parar Máquina de Estados</button>
		</div>
		<div *ngIf="!running">
			<p>Lanzar Máquina de Estados</p>
			<form #formMachine="ngForm" (ngSubmit)="runStateMachine()" class="col-lg-6" id="form-machine">

				<label>
					DirIp
				</label>
				<input type="text" #ipInput="ngModel" name="dirip" [(ngModel)]="camera.dirIp" class="form-control" required readonly/>

				<label>
					Puerto de entrada
					<span *ngIf="!puertoEntradaInput.valid && puertoEntradaInput.touched" class="label label-danger">El puerto es obligatorio</span>
				</label>
				<input type="number" #puertoEntradaInput="ngModel" name="puertoentrada" [(ngModel)]="machine.port_entrada" class="form-control" required/>

				<label>
					Puerto de salida
					<span *ngIf="!puertoSalidaInput.valid && puertoSalidaInput.touched" class="label label-danger">El puerto es obligatorio</span>
				</label>
				<input type="number" #puertoSalidaInput="ngModel" name="puertosalida" [(ngModel)]="machine.port_salida" class="form-control" required/>

				<label>
					URL actuador de entrada
					<span *ngIf="!actuadorEntradaInput.valid && actuadorEntradaInput.touched" class="label label-danger">Debe contener el protocolo</span>
				</label>
				<input type="text" #actuadorEntradaInput="ngModel" name="actuadorentrada" [(ngModel)]="machine.actuador_entrada" class="form-control"  required pattern="[a-zA-Z]+\:\/\/.*"/>

				<label>
					URL actuador de entrada
					<span *ngIf="!actuadorSalidaInput.valid && actuadorSalidaInput.touched" class="label label-danger">Debe contener el protocolo</span>
				</label>
				<input type="text" #actuadorSalidaInput="ngModel" name="actuadorsalida" [(ngModel)]="machine.actuador_salida" class="form-control" required pattern="[a-zA-Z]+\:\/\/.*"/>

				<label>
					PUSH contador (Opcional) (si contiene [CONTADOR], se sustituirá por el valor)
					<span *ngIf="!contadorInput.valid && contadorInput.touched" class="label label-danger">Debe contener el protocolo</span>
				</label>
				<input type="text" #contadorInput="ngModel" name="contador" [(ngModel)]="machine.push_contador" class="form-control" pattern="[a-zA-Z]+\:\/\/.*"/>

				<br/>
				<div class="botones">
					<input type="submit" value="Lanzar" [disabled]="!formMachine.form.valid" class="btn btn-success"/>
				</div>
			</form>
		</div>
		<br>
	</div>
	<div class="col-lg-8">
		<h3>{{camera.name}}</h3>
		<br>
		<p><strong>Dirección IP (Flujo de vídeo)</strong>: {{camera.dirIp}}</p>
    <p><strong>Usuario de la cámara</strong>: {{camera.user_camera}}</p>
		<br>
    <h4>Schedules</h4>
    <schedules [id]="camera.id"></schedules>
		<br>
		<div class="botones">
			<a [routerLink]="['/editar-camara', camera.id]" class="btn btn-md btn-warning">Editar cámara</a>
			<delete-camera [id]="camera.id" (eliminado_event)="goHome()"></delete-camera>
		</div>
	</div>
</div>
