<div *ngIf="error; else noerror">
	<p>Se ha producido un error cargando los niveles</p>
</div>
<ng-template #noerror>
  <div *ngIf="!cargado; else mostrarreglas">
  	<p>Cargando reglas...</p>
  </div>
  <ng-template #mostrarreglas>
    <div *ngIf="numeroSchedules()==0; else hayreglas">
      <p>No hay reglas que mostrar</p>
      <button type="button" (click)="anadirElemento()" class="btn btn-md btn-primary">Añadir regla</button>
    </div>
    <ng-template #hayreglas>
      <table id="schedules-table" border=1 cellspacing=0 cellpadding=2 bordercolor="666633">
        <tr>
          <th>Hora inicio</th>
          <th>Hora fin</th>
          <th>Nivel de acceso mínimo</th>
          <th>Accciones</th>
        </tr>
        <tr *ngFor="let schedule of schedules; let i = index">
          <td>{{schedule.start_time}}</td>
          <td>{{schedule.end_time}}</td>
          <td>{{getLevelAlias(schedule.access_level_min)}}</td>
          <td>
						<div class="botones" *ngIf="confirmadaEdicion(i)==true; else noedit">
							<button type="button" (click)="CancelarEdicion(i)" class="btn btn-md">Cancelar Edición</button>
						</div>
						<ng-template #noedit>
	            <div class="botones" *ngIf="confirmadoBorrado(i)==false">
	              <button type="button" (click)="editarElemento(i)" class="btn btn-md">Editar</button>
	        			<button type="button" (click)="ConfirmarBorrado(i)" class="btn btn-md btn-danger">Eliminar</button>
	        		</div>
	            <div class="botones" *ngIf="confirmadoBorrado(i)==true">
	              <button type="button" (click)="borrarElemento(i)" class="btn btn-md btn-danger">Confirmar Borrado</button>
	              <button type="button" (click)="DesconfirmarBorrado(i)" class="btn btn-md btn-warning">Cancelar</button>
	            </div>
						</ng-template>
        </tr>
      </table>
			<button *ngIf="editandoElemento()==-1" id="addScheduleButton" type="button" (click)="anadirElemento()" class="btn btn-md btn-primary">Añadir regla</button>

			<form *ngIf="editandoElemento()!=-1" id="schedules-form" #formCamera="ngForm" (ngSubmit)="onSubmit(editandoElemento())" class="col-lg-6">

				<input type="time" #startInput="ngModel" name="start" [(ngModel)]="schedules[editandoElemento()].start_time" class="form-control" required min="07:00:00" max="22:00:00" />
				<input type="time" #endInput="ngModel" name="end" [(ngModel)]="schedules[editandoElemento()].end_time" class="form-control" required min="07:00" max="22:00" />
				<select #nivelInput="ngModel" name="nivel" [(ngModel)]="schedules[editandoElemento()].access_level_min" class="form-control" required>
			   <option *ngFor="let level of accesslevels; let i = index" [value]="i">{{level}}</option>
			  </select>
				<input type="submit" value="Añadir" class="btn btn-md btn-success">
			</form>
    </ng-template>
  </ng-template>
</ng-template>
