<h3>{{titulo}}</h3>
<hr/>

<!--
<video src="http://guest:guest12@158.49.245.71:27654/mjpg/video.mjpg" width=320  height=240 controls poster="vistaprevia.jpg">
Lo sentimos. Este vídeo no puede ser reproducido en tu navegador.<br>
La versión descargable está disponible en <a href="URL">Enlace</a>.
</video>
-->

<div *ngIf="error==true; else noerror">
  Se ha producido un error consultando la base de datos.
</div>

<ng-template #noerror>
  <div *ngIf="!cargado; else loaded">
    	Cargando listado de cámaras...
  </div>
  <ng-template #loaded>
    <div *ngIf="numeroCamaras()==0">
    No hay cámaras que mostrar
    <a [routerLink]="['/anadir-camara']" class="btn btn-md btn-primary">Añadir cámara</a>
    </div>
    <div *ngIf="numeroCamaras()>0">
    	<div class="row">
    		<div class="col-lg-3" *ngFor="let camera of cameras">
    			<div class="card card-aux" >
    				<div *ngIf="flujoAccesible(camera.dirIp)" class="card-img-top">
              <!-- <img src="http://158.49.245.71:27654/mjpg/video.mjpg" width=320  height=240> -->
              <img [src]="getFlujo(camera.dirIp, camera.flujo_dashboard)" width=100%  >
    				</div>
    				<div *ngIf="!flujoAccesible(camera.dirIp)">
    					<div class="card-img-top">
                <img src="{{image_default}}" class="producto_imagen"/>
              <!-- <img src="http://guest:guest12@158.49.245.71:27654/jpg/1/image.jpg?timestamp=" class="producto_imagen"/> -->
    					<!--<img src="'../../images/angular_image.png" class="producto_imagen"/> NO FUNCIONARÁ-->
    					<!--<img src="{{image_default}}" class="producto_imagen"/>-->
    					</div>
    				</div>
    				<div class="card-body">
    					<h4 class="card-title">{{camera.name}}</h4>
    					<p class="card-text">{{camera.dirIp}}</p>

    					<div class="botones">
    						<a [routerLink]="['/camera', camera.id]" class="btn btn-md btn-primary">Ver</a>
    						<a [routerLink]="['/editar-camara', camera.id]" class="btn btn-md btn-warning">Editar</a>
    						<delete-camera [id]="camera.id" (eliminado_event)="getCameras()"></delete-camera>
    					</div>

    				</div>
    			</div>
    		</div>
    	</div>
    </div>
  </ng-template>
</ng-template>
