<div class="barra-superior">
  <h3>{{titulo}}</h3>
  <a [routerLink]="['/add-personal']" class="btn btn-md btn-primary">Añadir persona</a>
</div>
<hr/>

<div *ngIf="error==true; else noerror">
  Se ha producido un error consultando la base de datos.
</div>

<ng-template #noerror>
  <div *ngIf="!cargado; else loaded">
    	Cargando listado de personas...
  </div>
  <ng-template #loaded>
    <div *ngIf="numeroPersonas()==0">
    No hay personas que mostrar
    <a [routerLink]="['/anadir-persona']" class="btn btn-md btn-primary">Añadir persona</a>
    </div>
    <div *ngIf="numeroPersonas()>0">


      <div class="col-lg-4 d-inline-block align-top">
        <div class="card" style="width: 100%;" [class.grey-background-selected]="personSelected==person" [class.grey-background]="personSelected!=person"
          *ngFor="let person of persons" (click)="setPersonSelected(person)" >
          <div class="card-body">
            <h5 class="card-title">{{person.name}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{getNameLevel(person.level)}}</h6>
          </div>
        </div>
    </div>

    <div class="col-lg-8 marco-padding d-inline-block" *ngIf="personSelected">
      <div class="col-lg-12 d-block">
        <div [class]="image ? 'col-lg-6 d-inline-block' : ''" id="personInfo">
          <h4><b>Nombre:</b> {{personSelected.name}}</h4>
          <p><b>Nivel de acceso:</b> {{getNameLevel(personSelected.level)}}</p>
          <br>
        </div>
        <div *ngIf="image" class="col-lg-6 d-inline-block" id="imgeSelected" >
          <img [src]="image" alt="Imagen seleccionada" width=240>
        </div>
      </div>
      <div class="col-lg-12 d-block">
        <br>
        <h5>Añadir imagen para reconocedor facial:</h5>
        <br>
        <form #formReconocedor="ngForm" (ngSubmit)="onSubmit()">

        	<label>Imagen</label>
        	<input type="file" accept="image/*" class="form-control" (change)="fileChangeEvent($event)" required/>

        	<br/>
        	<input type="submit" value="Añadir imagen" [disabled]="!formReconocedor.form.valid || !image" class="btn btn-success"/>
        </form>
        <br>
        <div class="botones">
          <a [routerLink]="['/edit-personal', personSelected._id.$oid]" class="btn btn-md btn-warning">Editar usuario</a>
          <delete-person [id]="personSelected._id.$oid" (eliminado_event)="personSelected=null;getPersons()"></delete-person>
        </div>
      </div>
    </div>
    </div>
  </ng-template>
</ng-template>
