<h3>{{titulo}}</h3>
<hr/>

<form #formCamera="ngForm" (ngSubmit)="onSubmit()" class="col-lg-6" id="form-producto">

	<label>
		Nombre
		<span *ngIf="!nameInput.valid && nameInput.touched" class="alert alert-danger">El nombre es obligatorio</span>
	</label>
	<input type="text" #nameInput="ngModel" name="nombre" [(ngModel)]="camera.name" class="form-control" required />

	<label>
		Dirección IP (Flujo de vídeo)
		<span *ngIf="!direccionInput.valid && direccionInput.touched" class="alert alert-danger">La dirección del flujo de vídeo es obligatoria (y debe contener el protocolo)</span>
	</label>
	<input type="text" #direccionInput="ngModel" name="direccion" [(ngModel)]="camera.dirIp" class="form-control" required pattern="[a-zA-Z]+\:\/\/.*"/>

	<label>
		Entrada para dashboard (Se tomará DirIp por defecto)
		<span *ngIf="!flujoInput.valid && flujoInput.touched" class="alert alert-danger">El flujo de vídeo debe contener el protocolo</span>
	</label>
	<input type="text" #flujoInput="ngModel" name="flujo" [(ngModel)]="camera.flujo_dashboard" class="form-control" pattern="[a-zA-Z]+\:\/\/.*"/>

	<label>
		Usuario de la cámara
		<span *ngIf="!usuariocamaraInput.valid && usuariocamaraInput.touched" class="alert alert-danger"><!--message error--></span>
	</label>
	<input type="text" #usuariocamaraInput="ngModel" name="usuario" [(ngModel)]="camera.user_camera" class="form-control" />

	<label>
		Contraseña de la cámara
		<span *ngIf="!passwordcamaraInput.valid && passwordcamaraInput.touched" class="alert alert-danger"><!--message error--></span>
	</label>
	<input type="password" #passwordcamaraInput="ngModel" name="password" [(ngModel)]="camera.pass_camera" class="form-control" />

	<br/>
	<div class="botones">
		<input type="submit" value="{{titulo}}" [disabled]="!formCamera.form.valid" class="btn btn-success"/>
		<button *ngIf="isEdit" type="button" (click)="goBack();" class="btn btn-md btn-danger">Cancelar</button>
	</div>
</form>
