<div class="barra-superior">
  <h3>{{titulo}}</h3>
</div>
<hr/>

<div *ngIf="error==true; else noerror">
  Se ha producido un error consultando la base de datos.
</div>

<ng-template #noerror>


    <div class="col-lg-3 d-inline-block align-top">
    	  <div class="card lateral-paddings horizontal-paddings grey-background-without-hover">
           <div *ngIf="!cargadasCamaras; else loadedcamaras">
              Cargando listado de cámaras...
           </div>
           <ng-template #loadedcamaras>
             Selecciona una cámara:<br>
             <!--hacer un form que coja una cámara o todas-->
             <!--<tr *ngFor="let camera of cameras">
               <input type="radio" name="camera_ent" id="'camera-'+{{camera.id}}" [value]="camera.id"
                  [(ngModel)]="camera_id" (change)="getEntries();" ><label for="'camera-'+{{camera.id}}" >{{camera.name}}</label><br>
             </tr>
             <input type="radio" name="camera_ent" id="camera-todas" [value]="-1" [(ngModel)]="camera_id" (change)="getEntries();" >
                  <label for="camera-todas">Todas</label><br>-->

            <select  name="camera_ent" [(ngModel)]="camera_id"  (change)="getEntries();" required>
             <option *ngFor="let camera of cameras; let i = index" [value]="camera.id">{{camera.name}}</option>
             <option [value]="-1">Todas</option>
            </select>
           </ng-template>
    		</div>
        <br>
        <div class="card lateral-paddings horizontal-paddings grey-background-without-hover">
            Selecciona cuantas entradas quieres ver:<br>
            <!--hacer un form que coja 10, 20, 50, todas
            <input type="radio" id="ten-entries" name="number_ent" [value]="10" [(ngModel)]="number_entries" (change)="getEntries();" />
            <label for="ten-entries">10 últimas</label><br>
            <input type="radio" id="twe-entries" name="number_ent" [value]="20" [(ngModel)]="number_entries" (change)="getEntries();" />
            <label for="twe-entries">20 últimas</label><br>
            <input type="radio" id="fif-entries" name="number_ent" [value]="50" [(ngModel)]="number_entries" (change)="getEntries()"/>
            <label for="fif-entries">50 últimas</label><br>
            <input type="radio" id="all-entries" name="number_ent" [value]="-1" [(ngModel)]="number_entries" (change)="getEntries();"/>
            <label for="all-entries">Todas</label><br>-->

            <select  name="number_ent" [(ngModel)]="number_entries"  (change)="getEntries();" required>
              <option [value]="10">10 últimas</option>
              <option [value]="20">20 últimas</option>
              <option [value]="30">50 últimas</option>
              <option [value]="-1">Todas</option>
            </select>
       </div>
    </div>

    <div class="col-lg-9" id="person-detail">
      <div class="col-lg-12">
        <div *ngIf="!cargadasEntradas; else loadedEntradas">
           Cargando listado de entradas...
        </div>
        <ng-template #loadedEntradas>
          <div *ngIf="numeroEntradas() > 0; else nohayentradas">
             <!--hacer un bucle que muestre todas las entradas recuperadas-->
             <p> Mostrando {{numeroEntradas()}} entradas:</p>
             <br>
             <div class="card col-lg-12 d-block card-aux"  *ngFor="let entry of entries">
               <div class="col-lg-7 d-inline-block card-body" >
               <h3 class="card-title"> {{entry.timestmp}} </h3>
               <h4 class="card-subtitle"> Cámara: {{getCameraName(entry.id_camera)}}</h4>
               <h4 class="card-text"> Personas: </h4>
               <ul>
                 <li class="card-text" *ngFor="let person of getPersonsByIds(entry.names)">{{person.name}} ({{getNameLevel(person.level)}})</li>
               </ul>
              </div>
              <div class="col-lg-5 d-inline-block">
               <img class="imageEntry ml-auto" [src]="'data:image/jpg;base64,'+entry.image_b64">
             </div>
             </div>
          </div>
          <ng-template #nohayentradas>
            <p *ngIf="camera_id==-1">No hay entradas para mostrar en ninguna de tus cámaras</p>
            <p *ngIf="camera_id!=-1">No hay entradas que mostrar para esta cámara. Prueba con otra</p>
          </ng-template>
        </ng-template>
      </div>
    </div>
</ng-template>
