


<div class="div-body text-center" *ngIf="isActive('/login'); else nologin" [ngStyle]="{'background-image': 'url('+image_background+')'}">
  <router-outlet></router-outlet>
</div>

<ng-template #nologin>
<div class="div-body-content">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="navbar-brand">
      <img class="navbar-brand" [src]="quercus_shield" width="50px" alt="">
      <a class="navbar-brand" [routerLink]="['/dashboard']">qDoor</a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" [routerLinkActive]="['active']"><a class="nav-link" [routerLink]="['/dashboard']" >Dashboard</a></li>
        <li class="nav-item" [routerLinkActive]="['active']"><a class="nav-link" [routerLink]="['/anadir-camara']">Añadir cámara</a></li>
        <li class="nav-item" [routerLinkActive]="['active']"><a class="nav-link" [routerLink]="['/personal']">Gestionar personal</a></li>
        <li class="nav-item" [routerLinkActive]="['active']"><a class="nav-link" [routerLink]="['/alias']">Niveles de acceso</a></li>
        <li class="nav-item" [routerLinkActive]="['active']"><a class="nav-link" [routerLink]="['/registro']">Registro de acceso</a></li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><logout></logout></li>
      </ul>
    </div>
  </nav>
  <main role="main" class="marco content-body">
      <router-outlet></router-outlet>
  </main>

<footer class="footer fixed-bottom footer-shadow content container-fluid">
    <img src="{{quercus_logo}}" alt="Quercus Logo" height="20px"/>
    <p class="text-white">qDoor System - Quercus Software Engineering Group</p>
</footer>
</div>
</ng-template>
