
<form #formLogin="ngForm" (ngSubmit)="login()" class="col-lg-6" class="form-signin">

	<img src="{{qdoor_logo}}" alt="QDoor Logo" width=200px />
	<h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
	<label for="username" class="sr-only">Nombre de usuario
		<span *ngIf="!usernameInput.valid && usernameInput.touched" class="label label-danger">El username es obligatorio</span>
	</label>
	<input type="text" #usernameInput="ngModel" name="username" [(ngModel)]="username" class="form-control" required placeholder="username"/>

	<label for="password" class="sr-only">Nombre de usuario
		<span *ngIf="!passwordInput.valid && passwordInput.touched" class="label label-danger">La contraseña es obligatoria</span>
	</label>
	<input type="password" #passwordInput="ngModel" name="password" [(ngModel)]="password" class="form-control" required placeholder="password"/>
	<br/>
	<p> {{message}} </p>
	<br/>
	<button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!formLogin.form.valid" class="btn btn-success">{{titulo}}</button>
</form>
