<div *ngIf="error; else noerror">
	<p>Se ha producido un error cargando los niveles</p>
</div>
<ng-template #noerror>
  <div *ngIf="!cargado; else mostrarniveles">
  	<p>Cargando niveles...</p>
  </div>
  <ng-template #mostrarniveles>
    <div *ngIf="numeroAccessLevels()==0; else hayniveles">
      <p>No hay niveles que mostrar</p>
    </div>
    <ng-template #hayniveles>
      <div class="col-lg-4 mx-auto jumbotron">
					<table style="width:80%; display:table; margin-bottom:15px;" class="center-block">
					  <tr>
					    <th>Nivel</th>
					    <th>Alias</th>
					  </tr>
					  <tr id="nivel" *ngFor="let level of accesslevels; let i = index">
					    <td>{{i}}</td>
					    <td>{{level}}</td>
					  </tr>
					</table>
					<a [routerLink]="['/edit-alias']" class="btn btn-md btn-primary">Modificar niveles de acceso</a>
      </div>
    </ng-template>
  </ng-template>
</ng-template>
