<a (click)="borrarConfirm()" class="btn btn-md btn-danger">Borrar al usuario</a>

<div class="seguro" *ngIf="confirmado == true">
<a (click)="onDeleteProducto()" class="btn btn-md btn-danger">
  Quiero eliminarla
</a>
<a (click)="cancelarConfirm()" class="btn btn-md btn-warning">Cancelar</a>
