<h3>{{titulo}}</h3>
<hr/>

<form #formCamera="ngForm" (ngSubmit)="onSubmit()" class="col-lg-6" id="form-producto">

	<label>
		Nombre
		<span *ngIf="!nameInput.valid && nameInput.touched" class="alert alert-danger">El nombre es obligatorio</span>
	</label>
	<input type="text" #nameInput="ngModel" name="nombre" [(ngModel)]="person.name" class="form-control" required />

	<label>
		Nivel de acceso
		<span *ngIf="!nivelInput.valid && nivelInput.touched" class="alert alert-danger"><br>El nivel de acceso es obligatorio</span>
	</label>
  <select #nivelInput="ngModel" name="nivel" [(ngModel)]="person.level" class="form-control" required>
   <option *ngFor="let level of accesslevels; let i = index" [value]="i+1">{{level}}</option>
  </select>
	<br/>
	<div class="botones">
		<input type="submit" value="{{titulo}}" [disabled]="!formCamera.form.valid" class="btn btn-success"/>
		<button type="button" (click)="goBack();" class="btn btn-md btn-danger">Cancelar</button>
	</div>
</form>
