/* Show it is fixed to the top */
body {
  /* min-height: 75rem;
  padding-top: 4.5rem; */
}

.text-center {
    text-align: center!important;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 30px;
  margin: 0 auto;
  background-color: aliceblue;
  border-radius: 20px;
}

.div-body{
  top:0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  position: absolute;

  display: -ms-flexbox;
display: -webkit-box;
display: flex;
-ms-flex-align: center;
-ms-flex-pack: center;
-webkit-box-align: center;
align-items: center;
-webkit-box-pack: center;
justify-content: center;
padding-top: 40px;
padding-bottom: 40px;
background-color: #f5f5f5;

background-repeat:no-repeat;/*we want to have one single image not a repeated one*/
background-size:cover;/*this sets the image to fullscreen covering the whole screen*/

}

.div-body-content{
  /*min-height: 75rem;*/
  padding-top: 4.5rem;
}

.card-aux{
  margin-bottom:15px;
  background-color: #f5f5f5;
}

#content {
    /* margin-top: 30px; */
    border-radius: 2px;
    background: white;
    box-shadow: 0px 2px 5px #ccc;
    padding: 0px;
    overflow: hidden;
    height: 100%;
    position: absolute;
    overflow-y: scroll;
}

#header {
    background: #E03137;
    color: white;
    margin: 0px;
    height: 90px;
    line-height: 90px;
}

#header h1{
  display: inline-block;
	line-height: 50px;
	font-weight: bold;
	font-size: 30px;
  margin-left: 20px;
}

#nav {
    padding: 0px;
    margin: 0px;
    background: rgba(224, 49, 55, 0.67);
    height: 30px;
}

#nav ul{
	margin: 0px;
	list-style: none;
	padding-left: 20px;
}

#nav ul li{
	float:left;
	margin-right: 20px;
}

#nav ul li a{
	display: block;
	color: white;
	height: 30px;
	line-height: 29px;
	padding-left: 10px;
	padding-right: 10px;
	transition: all 300ms;
}

#nav ul li a:hover{
	text-decoration: none;
	background: #E03137;
}

.activado{
	text-decoration: none !important;
	border-bottom:4px solid yellow !important;
}

#main{
	height: calc(100% - 30px - 120px);
  overflow-y: scroll;
}

#main2{
	height: calc(100% - 30px - 90px);
}

#main .jumbotron{
	padding: 50px;
	margin-top: 30px;
	border-radius: 5px;
}


.marco{
  margin: 30px;
}

@media(min-width:987px){
  .marco-padding{
    padding: 50px 50px 50px 100px;
  }
}

@media(max-width:987px){
  .marco-padding{
    padding: 30px 5px 5px 10px;
  }
}



.grey-background{
  background-color: #eee;
}

.grey-background:hover{
  background-color: #999;
}

.grey-background-without-hover{
  background-color: #eee;
}

.grey-background-selected{
  background-color: #bbb;
}

.barra-superior>h3{
  display: inline-block;
  width: 90%;
}

.barra-superior>a{
  display: inline-block;
  width: 10%;
}

#footer{
	/*margin-top:30px;
	padding-top: 10px;*/
	border-top:1px solid #eee;
	color: black;
	background-color: rgba(224, 49, 55, 0.67);
	height: 29px;
  text-align: center;
}

#footer p{
	display: inline-block;
	color: white;
	height: 29px;
	line-height: 29px;
	padding-left: 10px;
	padding-right: 10px;
	/* padding-bottom: 0px; */
	vertical-align: middle;
	text-align: center;
  margin:0px;
}

#form-producto label{
	margin-top: 10px;
}

#persons-container{
  display: inline-block;
}

#person-detail{
  display: inline-block;
}

.lateral-paddings{
  padding-left: 15px;
  padding-right: 15px;
}

.horizontal-paddings{
  padding-top: 15px;
  padding-bottom: 15px;
}

.imagen_container{
	width: 100%;
	overflow: hidden;
}

.producto_imagen{
	/*width: 100%;*/
	height: 200px;
	margin: 0px auto;
	display: block;
}

.imagen_relleno{
	background: #ccc;
	width: 100%;
	height: 200px;
}

.imageEntry{
  max-height: 360px;
  max-width: 100%;
}

.full-center-container{
  width:100%;
  height:100%;
  vertical-align: middle;
  text-align: center;
  padding: 30px;
}

.no-break{
  display: inline-block;
}

.content-body {
    padding-bottom: 100px;
}

.footer {
  /*height: 114px;*/
  background-color: #2e2e2e;
  text-align: center;
  padding: 10px;
}

.footer p{
	display: inline-block;
	vertical-align: middle;
	text-align: center;
  margin:0px;
  padding-left: 5px;
  padding-right: 5px;
}

.center-line{
  vertical-align:middle;
  margin: 0px;
  padding: 5px;
}
.botones > * {
  margin: 5px;
}

#schedules-table{
  /*border:1;
  cellspacing:0;
  cellpadding:2;
  bordercolor:"666633";*/
  width:100%;
  margin-top: 15px;
  margin-bottom: 15px;
}

#schedules-table th{
  width: 25%;
  text-align: center;
}

#schedules-table tr{
  text-align: center;
}

#addScheduleButton{
  float:right;
}


#schedules-form{
  width:100%;
  display: inline-block;
}

#schedules-form > * {
  width: 25%;
  display: inline-block;
}
