<div *ngIf="error; else noerror">
	<p>Se ha producido un error cargando los niveles</p>
</div>
<ng-template #noerror>
  <div *ngIf="!cargado; else mostrarniveles">
  	<p>Cargando niveles...</p>
  </div>
  <ng-template #mostrarniveles>
    <div *ngIf="numeroAccessLevels()==0; else hayniveles">
      <p>No hay niveles que mostrar</p>
    </div>
    <ng-template #hayniveles>
      <div class="col-lg-4 col-lg-offset-4 jumbotron">
				<form #formAlias="ngForm" (ngSubmit)="onSubmit()">

					<table style="width:80%; display:table; margin-bottom:15px;" class="center-block">
					  <tr>
					    <th>Nivel</th>
					    <th>Alias</th>
					  </tr>
					  <tr id="nivel" *ngFor="let level of accesslevels; let i = index; trackBy:trackByFn">
					    <td>{{i}}</td>
					    <td *ngIf="i!=0">
                <label *ngIf="!aliasInput.valid && aliasInput.touched">
                <span class="alert alert-danger">No puede estar en blanco</span>
              	</label>
              	<input type="text" #aliasInput="ngModel" [name]="'alias'+i" [(ngModel)]="accesslevels[i]" class="form-control" required />
              </td>
							<td *ngIf="i==0">
								<label *ngIf="!aliasInput.valid && aliasInput.touched">
								<span class="alert alert-danger">No puede estar en blanco</span>
								</label>
								<input type="text" #aliasInput="ngModel" [name]="'alias'+i" [(ngModel)]="accesslevels[i]" class="form-control" required readonly/>
							</td>
              <td *ngIf="i!=0">
                <button (click)="eliminarNivel(i)" class="btn btn-md btn-danger">Eliminar</button>
              </td>
            </tr>
					</table>
					<br/>
					<div class="botones" style="text-align:center">
					<button type="button" (click)="anadirNivel()" class="btn btn-md btn-primary">Añadir nivel</button>
					</div>
					<br/>
					<div class="botones">
						<input type="submit" value="Confirmar niveles" [disabled]="!formAlias.form.valid" class="btn btn-success"/>
						<button type="button" (click)="mostrarNiveles()" class="btn btn-md btn-danger">Cancelar</button>
					</div>
				</form>
				<div *ngIf="actualizando==true">
					<p>Tratando de actualizar la información...</p>
				</div>
      </div>
    </ng-template>
  </ng-template>
</ng-template>
